.container {
    margin: 0 auto;
    width:960px;
}
body {
    font-family:"Lucida Sans Unicode", verdana, sans-serif;
    line-height: 1.6;
    background: #93f893 url("img/noise.png");
}
.lugar {
    background-color: rgba(171, 170, 170, 0.26);
    border-color: #CCC #999 #999 #CCC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 10px;
}
.lugar h2,h3 {
    border-bottom: 1px dashed #9da300;
    margin: 0;
}
.lugar a {
    color: #2C11AF;
    font-weight: bold;
}
.lugar img{
    height: 200px;
    border: 1px solid black;
    float: left;
    margin: 10px 10px 0 0;
    padding: 1px;
}
.clear{
    clear: both;
}
a {
    color: #2C88A7;
    text-decoration: none;
}
.footer{
    text-align: center;
    font-size: 12px;
}
.notas{
    background-color: rgba(210, 210, 210, 0.265);
    padding: 10px;
    float: right;
    width: 260px;
}
.notas h3{
    font-size: 14px;
    margin-top: 0;
}
.notas ol{
    font-size: 12px;
}
.eq{
    float: left;
    width: 660px;
}
tr, th, td{
    border-style: double;
    border-radius: 10px;
    border: 2px solid rgb(189, 87, 215);
}
table{
    margin: 0 auto;
    width:100%;
}
.AR{
    text-align: right;
}
.T{
    width: 18%;
    text-align: center;
}



