*{
    box-sizing:border-box;
}
img{
    width: 100%;
}
body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-width: 10px;
    background-color: rgba(41, 41, 255, 0.863);
    width: 100%;
    border-radius: 10px 0 10px 0;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
}
h1{
    text-align: center;
}
.direita{
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
}
.container > div, .container2 > div{
    padding: 10px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;  
    border-width: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    max-width: 800px;
    margin: 0 auto;
}
.container2 > div{
    flex: 1 1 200px;
    margin: 10px
}
.g{
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
}
