.esquerda{
    float: left;
    margin: 10px;
}
.direita{
    float: left;
    margin: 10px;
}
.i{
    float: left;
    margin: 10px;
}
p{
    column-count: 3;
    column-gap: 10px;
    column-rule: 1px solid #666;
    font-size: 0.9em;
    width: 500px;
}
.clear{
    clear: both;
}